/* Changes font style and size */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 18px;
}

/* Adds background color to header and footer */
header, footer{
    background-color:lavender;
}

/* Changes color of the main heading using a class selector */
.site-title{
    color:coral;
}