/* Changes font style and size */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 18px;
}

/* Adds background color to header and footer */
header, footer{
    background-color:lavender;
}

/* Changes color of the main heading using a class selector */
.site-title{
    color:coral;
}

/* Adds boxshadow to image */
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

/* Changes style of bullet points in Hobbies List */
ul{
    list-style-type: square;
}

/* Adds background color to odd items in Hobbies list */
main ul li:nth-child(odd){
    background-color: salmon;
}

/* Adds style to links on page */
a:link{
    text-decoration:none;
    border-style: solid;
    background-color: chartreuse;
}

/* Changes color on hover of link */
a:hover{
    background-color:aqua;
}