*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position:relative;
    text-align:center;
}

h1{
    position: absolute;
    top:44%;
    left:360px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    font-weight:200;
}

a {
    text-decoration: none;
    color:black;
}

body {
    background-color:#aad4cf;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color:#d4e9e7;
    width: 1024px;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    padding-left: 0;
}

nav ul li {
    display:inline-block;
    text-transform: uppercase;
    width: 300px;
    border-right: 2px solid black;
    font-size: x-large;
}

nav ul li:last-child {
    border-right: none;
}

#image {
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px 10px 10px;
}

textarea {
    width: 100%;
}

footer{
    text-align:right;
}

.forum {
    border-style:solid;
    border-width: 1px;
    margin: 10px 10px 10px;
}

button {
    color:#000000;
    background-color: #d4e9e7;
    padding:10px
}