body {
    background-color:#aad4cf;
}

.wrapper {
    background-color:#d4e9e7;
    width: 1024px;
    margin: 0 auto;
}

nav ul{
    text-align: center;
    padding-left: 0;
}

nav ul li{
    display:inline-block;
    text-transform: uppercase;
    width: 100px;
    border-right: 1px solid darkgrey;
}

nav ul li:last-child {
    border-right: none;
}