/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  line-height: 1.4;
}


main a{
	text-decoration: none;
	
}


/* mobile font sizing */

h1{
	font-size:3rem ;
	font-weight: 700;
}

h2{
	font-size: 2.5rem;
	font-weight: 700;
	margin-top:10px
}

h3{
	font-size:1.5rem;
	font-weight:700;
}

h4{
	font-size:0.75rem;
	font-weight: 700;
}


p{
	font-size:0.75rem;
}
.wrapper{
    background-color: #222;
    display:flex;
    border: solid 10px #222;
	flex-direction: column;
}

.logo{
    background-color:#c78c06;
	height:150px;
	padding-top:10px;
}

nav{
	margin-top:-75px;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}


nav ul li{
	padding: 22px;
	text-align: center;
}

li a{
	color:#c78c06;
	text-decoration: none;
}

#difcolor{
	color:#222;
}

nav form{
	display:flex;
}

#search{
	flex-grow: 1;
}

button.material-symbols-outlined{
	border-color:#c78c06;
	background-color: #222;
	color:#c78c06;	
	height: 38px;
}


#home{
	background-image: url(../images/main-banner.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	display:grid;
	grid-template-rows: repeat(11, 1fr);
}


.welcomecontainer{
	background-color: rgba(2, 2 ,2, 0.6);
	padding: 20px 10px 10px ;
	grid-row:2/11;
	display:flex;
	flex-direction: column;
	gap:2px;
}

.welcomecontent{
	color:white;
	opacity: 100%;
}


.welcomecontainer a{
	text-decoration: none;
	background-color:#c78c06;
	color:#222;
	align-self: flex-start;
	padding:20px;
	margin-top:5px;
}


#aboutus{
	width:100%
}

.aboutus{
	background-color:#ffe6ac;
	padding:15px;
}

#services{
	display:grid;
	margin:15px;
}

.card{
	background-color: #ffe6ac;
	margin:5px;
}

.cardimage{
	width:100%
}

.cardcontent{
	padding:10px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}


.cardbutton{
	background-color:#222;
	color:white;
	padding:20px;
	text-align: center;
	align-self: flex-start;
	margin-top: 5px;
}

.vision{
	background-image:url(../images/vision.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	padding:15px;
	margin:15px;
	color:white;
	display:flex;
	flex-direction: column;
	gap: 10px;
}

.vision .cardbutton{
	background-color: rgba(2, 2 ,2, 0.7);
	border:solid 1px #c78c06;
}

.vision h2{
	font-size:1.5rem;
}

#team{
	display:grid;
	margin: 15px;
}

.cardcontent hr{
	width:99%;
	margin-top: 0;
	color:#c78c06;
}

#contact{
	display:grid;
}

#contact h2{
	margin-left:20px;
	margin-top:10px;
	font-size:2rem;
}

.form{
	padding:20px;
	font-size:0.75rem;
}

#contactform input{
	margin-top:5px;
	margin-bottom:5px;
}


#fname, #email, #msg {
	width:100%;
}

#msg{
	height:100px;
	resize:none;
	margin-top:5px
}

#contactform button{
	margin-top:12px;
	background-color: #222;
	color:#c78c06;
	padding:4px;
	border:none;
}

.hours{
	display:flex;
	flex-direction: column;
	margin: 0 20px 5px;
}

table, th, td{
	border: solid 1.5px #222;
	margin-top:10px;
}

th{
	background-color: #ffe6ac;
}

th, td{
	padding: 10px 15px 10px;
	font-size:0.75rem;
}

.location{
	margin:20px
}

footer{
	background-color:#222;
	color:#c78c06;
	padding: 20px 5px 5px;
}

footer a{
	color:#c78c06
}

footer p{
	padding:10px
}